<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Formulario</title>
    <link rel="stylesheet"
    href="https://bootswatch.com/4/cyborg/bootstrap.min.css">
  </head>
  <body>

    <nav class="navbar navbar-dark bg-dark mb-4">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="/" class="navbar-brand"> Estacionamiento público para bicicletas ::: </a>
          <a href="/consultas" class="navbar-brand"> Consultas</a>

        </li>
      </ul>
    </nav>
